OPENROUTER_API_KEY=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
EMAIL_ENABLED=true
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=rajbaadal63@gmail.com
SMTP_PASSWORD="xmyr ujfu dgqc goyd"